@import'partials/setup';
@import'partials/global';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/main';
@import 'partials/blog';
@import 'partials/contact';

// $primaryColor: steelblue;
// $secondaryColor: firebrick;

// body {
//     background: $primaryColor;
//     font-family: 'Courier New', Courier, monospace;
//     color: #2a2a2a;
//     @include mq-tablet {
//         background: pink;
//         font-size: 45px;
//     }

//     @include mq-mobile {
//         background: peachpuff;
//         font-size: 45px;
//     }
// }


footer {
    background-color: #161515;
    p {
        color: #fff;
        text-align: center;
        padding: 10px;
    }
}