html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Pacifico', cursive;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 5.8rem;
  line-height: 68px;
  color: #1A315C;
  max-width: 55%;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 4.3rem;
  line-height: 58px;
  letter-spacing: 2.7px;
  color: #1A315C;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 2px;
  /* color: #fff; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 2.7rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px;
  padding: 10px 25px;
  color: #fff;
}

/* Skip-line for accessibility */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* - */
header {
  background-image: url(../textilee-assets/header-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 95vh;
}

/* Hamburber menu for the mobile version */
.mainNav i {
  font-size: 2.5rem;
  position: absolute;
  visibility: hidden;
  top: 6%;
  right: 10%;
}

/* - */
.logo {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  line-height: 24px;
  letter-spacing: 1.7px;
  color: #1E1713;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNav li {
  margin: 0 20px;
}

.mainNav li:last-child {
  margin-right: 0;
}

nav a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  line-height: 29px;
  letter-spacing: 1.4px;
  color: #1A315C;
}

header img {
  z-index: 1;
}

.learn {
  background: #CCEDFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  position: relative;
}

.learn img {
  position: absolute;
  bottom: 20%;
  right: 12.5%;
  -webkit-box-shadow: -19px 19px 0 #0CADC0;
          box-shadow: -19px 19px 0 #0CADC0;
}

.techniques {
  padding-top: 15%;
  padding-bottom: 5%;
  max-width: 50%;
  margin-left: 12.5%;
}

.techniques button {
  background-color: #1A315C;
}

.gallery {
  background-color: #1A315C;
}

.gallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.gallery .galleryContainer li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.gallery .galleryContainer li:last-child {
  margin-right: 0;
}

.posts {
  background-color: #CCEDFB;
}

.posts .knowMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.posts .knowMore i {
  font-size: 30px;
  color: #fff;
  padding: 14px;
  border: 1px solid #0CADC0;
  border-radius: 50%;
  background-color: #0CADC0;
}

.events,
.blog,
.community,
.inTouch {
  position: relative;
}

.events i,
.blog i,
.community i,
.inTouch i {
  position: absolute;
  margin-top: 1%;
}

.eventsPost,
.blogPost,
.communityPost,
.inTouchPost {
  margin-left: 15%;
}

.discover {
  background-color: #1A315C;
  padding: 20px 0 30px 0;
}

.discover .discoverContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.discover .discoverContainer .title,
.discover .discoverContainer p {
  color: #fff;
  margin-left: 45%;
}

.discoverContainer img {
  position: absolute;
  width: 40%;
  top: -20%;
  -webkit-box-shadow: 20px 20px 0 #0CADC0;
          box-shadow: 20px 20px 0 #0CADC0;
}

.discoverContainer button {
  margin-left: 45%;
}

.newLocations {
  background-color: #1A315C;
  padding: 20px 0 30px 0;
}

.newLocations .newLocationsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.newLocations .newLocationsContainer .title,
.newLocations .newLocationsContainer p {
  text-align: right;
  color: #fff;
  margin-right: 48%;
}

.discoverContainer button,
.newLocationsContainer button {
  background-color: #CCEDFB;
  color: #1E1713;
}

.newLocationsContainer img {
  position: absolute;
  width: 40%;
  bottom: -20%;
  right: 0;
  -webkit-box-shadow: -20px 20px 0 #0CADC0;
          box-shadow: -20px 20px 0 #0CADC0;
}
/*# sourceMappingURL=styles.css.map */