@import 'partials/setup';
@import 'partials/variables';
@import 'partials/global';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/main';
@import 'partials/blog';
@import 'partials/contact';
@import 'partials/responsive';



// Footer Styles Start Here

footer {
    background-color: $footerBackgroundColor;
    p {
        color: #fff;
        text-align: center;
        padding: 10px;
    }
}

// Footer Styles Start Here