.blogHeader {
    background-image: url(../textilee-assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 70%;
    min-height: 75vh;
    position: relative;
    img {
        z-index: 1;
        position: absolute;
        width: 58.6%;
        box-shadow: 20px 20px 0 #0CADC0;
        bottom: -400px;
        left: 0;
    }
}

main {
    background-color: #CCEDFB;
    position: relative;
}

.newCollection {
    background-color: #1A315C;
    border-right: 10px solid #0CADC0;
    border-bottom: 10px solid #0CADC0;
    max-width: 60%;
    padding-bottom: 8%;
    position: relative;
    z-index: 0;
    h2 {
        color: #fff;
        margin: 0;
        padding-top: 70%;
    }
    h4 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

.aside {
    background-color: #1A315C;
    width: 25%;
    height: 38%;
    padding-top: 26%;
    border-left: 20px solid #1A315C;
    position: absolute;
    top: 8%;
    right: 0;
    img {
        top: -20px;
        position: absolute;
    }
    h3,
    p,
    li {
        color: #fff;
        margin-right: 5%;
    }
    li {
        list-style: initial;
        margin-left: 6%;
        font-size: 1.8rem;
    }
}

.blogComments {
    display: flex;
}

blockquote {
    margin: 0 0 0 25px;
    width: 50%;
    h4 {
        font-size: 2rem;
        color: #1A315C;
        margin: 0 0 5px 0;
    }
    p {
        margin-top: 5px;
        padding-bottom: 30px;
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    input[type="text"],
    input[type="email"] {
        background-color: #CCEDFB;
        border: none;
        border-bottom: 2px solid #0CADC0;
        padding: 15px 30px;
        margin-bottom: 20px;
        width: 47.5%;
        margin-right: 30px;
        &::placeholder {
            font-size: 1.5rem;
            // Color not applying 
            color: #1A315C;
        }
    }
    input[type="email"] {
        margin-right: 0;
    }
    textarea {
        color: #1A315C;
        font-size: 1.5rem;
        background-color: #CCEDFB;
        border: 2px solid #0CADC0;
        padding: 20px;
        margin-bottom: 40px;
    }
    button {
        background-color: #1A315C;
        border: none;
        margin-bottom: 80px;
    }
}